<div class="container" id="prizes">
    <!-- Container -->
    <!--Default content-->
    <!-- Page Content -->

            <div id="page-zones__main-widgets__5d9af0cecfd9a" data-name="line" class="widget widget--zone-widget js-widget" data-uniqueid="DN00wQsUHJf9FgD" data-parentuniqueid="wJAcpR1ZFdriqY4">
                <div class="bk-line  line  widget__line">
                    <hr class="rule  line__rule" style="height: 1px; ">
                </div>
            </div>
            <div id="page-zones__main-widgets__5d9af0e4e6588" data-name="space" class="widget widget--zone-widget js-widget" data-uniqueid="f2h7WeYQ5PgR8Vk" data-parentuniqueid="wJAcpR1ZFdriqY4">
                <div class="bk-space  space  widget__space">
                    <div class="spacer  space__spacer" style="height: 26px">&nbsp;</div>
                </div>
            </div>
            <div id="about" data-name="responsivecolumns" class="widget widget--zone-widget js-widget" data-uniqueid="AXbufE45lQugrfK" data-parentuniqueid="wJAcpR1ZFdriqY4">
                <div class="bk-responsivecolumns  responsivecolumns  widget__responsivecolumns  js-responsivecolumns">
                    <section id="page-zones__main-widgets__5d9aef8cdf1fb-zones__5d9aef8ce98de" class="bk-zone column columns-two-left" data-uniqueid="T7ZzszoFwBpQFbt" data-parentuniqueid="AXbufE45lQugrfK">
                        <div id="page-zones__main-widgets__5d9aef8cdf1fb-zones__5d9aef8ce98de-widgets__5d9af22eefbb9" data-name="content" class="widget widget--zone-widget js-widget" data-uniqueid="KUBobZCjPd8Yqrd" data-parentuniqueid="T7ZzszoFwBpQFbt">
                            <div class="bk-content-text  content  widget__content    wysihtml-editor-content" itemscope="" itemtype="https://schema.org/WebPage">
                                <span class="js-text-content content-block" itemprop="mainContentOfPage" itemscope="" itemtype="https://schema.org/WebPageElement">
                                    {{widget('content', 'about-title', { content: '<h1><b><span style="color: rgb(54, 96, 146);">Your club</span> name here</b></h1>' })|raw}}
                                </span>
                            </div>
                        </div>
                        <div id="page-zones__main-widgets__5d9aef8cdf1fb-zones__5d9aef8ce98de-widgets__5d9aef8d058d2" data-name="content" class="widget widget--zone-widget js-widget" data-uniqueid="PAirimBnNh8p736" data-parentuniqueid="T7ZzszoFwBpQFbt">
                            <div class="bk-content-text  content  widget__content    wysihtml-editor-content" itemscope="" itemtype="https://schema.org/WebPage">
                                <span class="js-text-content content-block" itemprop="mainContentOfPage" itemscope="" itemtype="https://schema.org/WebPageElement">
                                           {{widget('content', 'about', { content: ' <p><b>My Club Draw is a new web-based monthly Draw</b> designed to <b>help clubs raise significant funds</b>. Players pay<b> £5 per month</b> with a chance to win both a small “in-club” cash prizes, larger, significant national cash prizes and also non-cash prizes each month. <b>No less than 50% of all revenues raised by our club will be returned to Hoddesdon Cricket Club&nbsp;</b>- significantly more than any other society lottery in the UK.</p>
                                    <p>With no set-up charges, My Club Draw is totally risk free for clubs and is managed and operated entirely online. It is paperless, cashless and without on-going administrative or regulatory burden for club officials and members.<b><br></b></p>
                                    <p><b>Help support Hoddesdon Chricket Club and sign up to play My Club Draw!</b><b><br></b></p>' })|raw}}
                                </span>
                            </div>
                        </div>
                    </section>
                    <section id="page-zones__main-widgets__5d9aef8cdf1fb-zones__5d9aef8ceed1b" class="bk-zone column columns-two-right" data-uniqueid="oe5OojqtaiAh7KT" data-parentuniqueid="AXbufE45lQugrfK">
                        <div id="page-zones__main-widgets__5d9aef8cdf1fb-zones__5d9aef8ceed1b-widgets__5d9aef8d078f8" data-name="image" class="widget widget--zone-widget js-widget" data-uniqueid="RbiuGSKZXUtNKtH" data-parentuniqueid="oe5OojqtaiAh7KT">
                            <div class="bk-image  imagewidget  widget__imagewidget  widget-align-left">
                                <figure class="figure imagewidget__figure" itemscope="" itemtype="https://schema.org/ImageObject">
                                        {{widget('image', 'clublogo', {'src': asset('images/clublogo.png'),})|raw}}
                                </figure>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div id="page-zones__main-widgets__5d9af109b210e" data-name="line" class="widget widget--zone-widget js-widget" data-uniqueid="XWu8jFYyCiLwbtk" data-parentuniqueid="wJAcpR1ZFdriqY4">
                <div class="bk-line  line  widget__line">
                    <hr class="rule  line__rule" style="height: 1px; ">
                </div>
            </div>
            <div id="page-zones__main-widgets__5d9af596dffcc" data-name="space" class="widget widget--zone-widget js-widget" data-uniqueid="uaU5nKjdXA8bjZ6" data-parentuniqueid="wJAcpR1ZFdriqY4">
                <div class="bk-space  space  widget__space">
                    <div class="spacer  space__spacer" style="height: 25px">&nbsp;</div>
                </div>
            </div>
            <div id="page-zones__main-widgets__5d9af12c0d8e0" data-name="responsivecolumns" class="widget widget--zone-widget js-widget" data-uniqueid="03wNl9otzQIR86G" data-parentuniqueid="wJAcpR1ZFdriqY4">
                <div class="bk-responsivecolumns  responsivecolumns  widget__responsivecolumns  js-responsivecolumns">
                    <section id="page-zones__main-widgets__5d9af12c0d8e0-zones__5d9af12c183c2" class="bk-zone column columns-two-left" data-uniqueid="Okl5D9Q1sYACGkW" data-parentuniqueid="03wNl9otzQIR86G">
                        <div id="page-zones__main-widgets__5d9af12c0d8e0-zones__5d9af12c183c2-widgets__5d9af12c26ba3" data-name="image" class="widget widget--zone-widget js-widget" data-uniqueid="drxVOYne8FRT8MQ" data-parentuniqueid="Okl5D9Q1sYACGkW">
                            <div class="bk-image  imagewidget  widget__imagewidget  widget-align-left">
                                <figure class="figure imagewidget__figure" itemscope="" itemtype="https://schema.org/ImageObject">

                                        {{widget('image', 'clubpicture', {'src': asset('images/clubpicture.jpg'),})|raw}}
                                   
                                </figure>
                            </div>
                        </div>
                    </section>
                    <section id="page-zones__main-widgets__5d9af12c0d8e0-zones__5d9af12c1e37a" class="bk-zone column columns-two-right" data-uniqueid="gzfhbd6emGV3vnT" data-parentuniqueid="03wNl9otzQIR86G">
                        <div id="page-zones__main-widgets__5d9af12c0d8e0-zones__5d9af12c1e37a-widgets__5d9af1f2ef920" data-name="content" class="widget widget--zone-widget js-widget" data-uniqueid="9uGWRt6076t7jdm" data-parentuniqueid="gzfhbd6emGV3vnT">
                            <div class="bk-content-text  content  widget__content    wysihtml-editor-content" itemscope="" itemtype="https://schema.org/WebPage">
                                <span class="js-text-content content-block" itemprop="mainContentOfPage" itemscope="" itemtype="https://schema.org/WebPageElement">
                                    <h1><b><span style="color: rgb(54, 96, 146);">About</span> your tickets and prizes</b></h1>
                                </span>
                            </div>
                        </div>
                        <div id="page-zones__main-widgets__5d9af12c0d8e0-zones__5d9af12c1e37a-widgets__5d9af12c2430b" data-name="content" class="widget widget--zone-widget js-widget" data-uniqueid="8mbGwU4oMiU1GuR" data-parentuniqueid="gzfhbd6emGV3vnT">
                            <div class="bk-content-text  content  widget__content    wysihtml-editor-content" itemscope="" itemtype="https://schema.org/WebPage">
                                <span class="js-text-content content-block" itemprop="mainContentOfPage" itemscope="" itemtype="https://schema.org/WebPageElement">
                                    <div id="about"><b>My Club Draw is a monthly draw</b>. You can buy one-off tickets or else you can subscribe, meaning you commit to pay on a regular monthly basis until you choose to unsubscribe. If you subscribe (and buy one ticket for every month) this will cost you £60 over the course of 12 months, of which £30 is returned directly to Hoddesdon Cricket Club. Clearly we hope you will be persuaded to subscribe since this will benefit our club much more significantly!<br><br>Those who enter the Draw must be at least 16 years of age. There is no limit to the number of tickets you can buy to enter the Draw.<br><br>All players are entered into a monthly draw for national cash prizes up to a maximum value of <b>£25,000. Players are also entered into a monthly draw for in-club cash prizes of £25 </b>provided we have at least 25 players. For every subsequent 25 players we have additional £25 prizes to win.<br><br>For details of the prizes for the coming month and last month’s national prize winners please visit the tab in the navigation bar headed “This month’s prizes – Last month’s winners”
                                        <br>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div id="page-zones__main-widgets__5d9af12c0d8e0-zones__5d9af12c1e37a-widgets__5d9af2fdccddb" data-name="button" class="widget widget--zone-widget js-widget" data-uniqueid="DqdrfIPXpYMI27V" data-parentuniqueid="gzfhbd6emGV3vnT">
                            <div class="bk-button  buttonwidget  widget__buttonwidget  widget-align-left">
                                <a href="#play"></ahref><button class="button  buttonwidget__button js-btn" style="font-size: 16px">Play now!</button></a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div id="page-zones__main-widgets__5d9af5ce50d0e" data-name="space" class="widget widget--zone-widget js-widget" data-uniqueid="G5rraA9df0DFp5c" data-parentuniqueid="wJAcpR1ZFdriqY4">
                <div class="bk-space  space  widget__space">
                    <div class="spacer  space__spacer" style="height: 26px">&nbsp;</div>
                </div>
            </div>
            <div id="page-zones__main-widgets__5d9af144b6928" data-name="line" class="widget widget--zone-widget js-widget" data-uniqueid="o5LnELmWjumqyws" data-parentuniqueid="wJAcpR1ZFdriqY4">
                <div class="bk-line  line  widget__line">
                    <hr class="rule  line__rule" style="height: 1px; ">
                </div>
            </div>
            <div id="page-zones__main-widgets__5d9af5da8bbe6" data-name="space" class="widget widget--zone-widget js-widget" data-uniqueid="xy9i1mjl5gIJWAV" data-parentuniqueid="wJAcpR1ZFdriqY4">
                <div class="bk-space  space  widget__space">
                    <div class="spacer  space__spacer" style="height: 25px">&nbsp;</div>
                </div>
            </div>
            <div id="play" data-name="content" class="widget widget--zone-widget js-widget" data-uniqueid="Rkm7tnWgRqRX6dE" data-parentuniqueid="wJAcpR1ZFdriqY4">
                <div class="bk-content-text  content  widget__content    wysihtml-editor-content" itemscope="" itemtype="https://schema.org/WebPage">
                    <span class="js-text-content content-block" itemprop="mainContentOfPage" itemscope="" itemtype="https://schema.org/WebPageElement">
                        <h1 style="text-align: center;"><b><span style="color: rgb(54, 96, 146);">Choose </span>your ticket and how often you want to play</b></h1>
                        <p style="text-align: center;">The draw closes at 5pm on the last Friday of every month and the draw takes place the next day at 5:45pm GMT.<br>Winners will be contacted within one week of winning. Good luck!</p>
                    </span>
                              {{zone()|raw}}
                      
                        	<!-- Page Content -->
                </div>
            </div>

</div>
    
    
    
    
    
    

 
 <!-- End Page Content -->

 <!-- Top part of footer with links to legal policies -->
 {% include "includes/top-footer.twig" %}
 <!-- End top part of footer with links to legal policies -->
    
 <!-- Footer for socila media profiles -->   
{% include "includes/footer.twig" %}
 <!-- End footer for socila media profiles -->  