<!-- Container -->
<div class="fullbg" id="footer">
    <div class="container">
        <section class="template-content">
            <div class="bk-responsivecolumns  responsivecolumns  widget__responsivecolumns  js-responsivecolumns footertext">
                <div class="bk-zone column columns-four-first">
                    <h3>Contact Us</h3>
                    <p>Need help? Don't hesitate to contact us</p>
                    <p class="icon phone-icon">+44 (0203) 176 6862</p>
                    <p id="email" class="icon email-icon"><a href="mailto:lottery@tmbc.gov.uk">lottery@tmbc.gov.uk</a></p>
                    <h3>Extra Support<br/><a href="http://www.gamblingcommission.gov.uk" target="_blank">{{widget('image', 'gcmlogo', {'src': asset('images/gmc.png'),})|raw}}</a></h3>
                    <p>Is problem gambling affecting you, or those close to you?</p>
                    <p class="icon phone-icon">Freephone: 0808 8020 133</p>
                    <p>Please note that your payment has been processed by Capen Ltd Trading as Zaffo.com and your bank statement will include the following information “Zaffo.com-ZaffoCharity 0203 176 6862”</p>
                </div>
                
                <div class="bk-zone column columns-four-second">
                    <h3>Player info</h3>
                    <p>
                        <a href="https://hivelotto.co.uk//player-faq" target="_blank">FAQ Player</a>
                    </p>
                    <p>
                        <a  href="https://hivelotto.co.uk//terms-and-conditions" target="_blank">Player terms and conditions</a>
                    </p>
                    <p>
                        <a href="https://hivelotto.co.uk//lotto-rules" target="_blank">Lotto rules</a>
                    </p>
                    <p><h3>Cause info</h3></p>
                    <p>
                        <a href="https://hivelotto.co.uk/sign-up" target="_blank">Want to see your cause here?</a>
                    </p>
                    <p>
                        <a  href="https://hivelotto.co.uk//good-cause-terms-and-conditions" target="_blank">Cause terms and conditions</a>
                    </p>
                    <h3>General</h3>
                   <p>
                        <a href="https://hivelotto.co.uk//social-responsibility" target="_blank">Social responsibility</a>
                    </p>
                    <p>
                        <a href="https://hivelotto.co.uk//privacy-policy" target="_blank">Privacy policy</a>
                    </p>
                    <p>
                        <a href="https://hivelotto.co.uk//acceptable-use-policy" target="_blank">Acceptable use policy</a>
                    </p>                    
                </div>
                
                <div class="bk-zone column columns-four-third">
                    <h3>Important</h3>
                    <p>Verified by</p>
                    <a href="https://info.zaffo.com" target="_blank">{{widget('image', 'verified', {'src': asset('images/verified.png'),})|raw}}</a>
                    <p>Supporting you</p>
                    <a href="https://www.begambleaware.org/" target="_blank">{{widget('image', 'gambleaware', {'src': asset('images/gamble-aware.png'),})|raw}}</a>
                    <p>A member of</p>
                    <a href="https://www.lotteriescouncil.org.uk/" target="_blank">{{widget('image', 'amemberof', {'src': asset('images/lc.jpg'),})|raw}}</a>
                    <p>Promoter</p>
                    <p>Hive Lotto is promoted by Adrian Stanfield, Tonbridge & Malling Borough Council, Gibson Drive, Kings Hill, West Malling, ME19 4LZ, under a remote operating licence issued by the Gambling Commission (Type G) (000-045775-R-324356-001)</p>
                    <a href="http://www.tmbc.gov.uk/" target="_blank">{{widget('image', 'tmbclogo', {'src': asset('images/tmbc_logo.png'),})|raw}}</a>
                    <a href="https://info.zaffo.com" target="_blank">{{widget('image', 'poweredbyzaffo', {'src': asset('images/Powered_by_Zaffo.jpg'),})|raw}}</a>
                    
                </div>
                
                <div class="bk-zone column columns-four-fourth">
                    <h3>Third party</h3>
                    <p>Accepted cards</p>
                    <a href="https://info.zaffo.com" target="_blank">{{widget('image', 'poweredbyzaffo2', {'src': asset('images/cards2.png'),})|raw}}</a>                    
                </div>
                
            </div>
        </section>
    </div>
</div>
