<!-- Container -->
<div class="fullbg" id="footer">
    <div class="container">
        <section class="template-content">
            <div class="bk-responsivecolumns  responsivecolumns  widget__responsivecolumns  js-responsivecolumns footertext">
                <div class="bk-zone column columns-four-first">
                    <h3>Contact Us</h3>
                    <p>Need help? Don't hesitate to contact us</p>
                    <p class="icon phone-icon">+44 (0203) 096 6265</p>
                    <p id="email" class="icon email-icon"><a href="mailto:enquiries@myclubdraw.co.uk">enquiries@myclubdraw.co.uk</a></p>
                    <h3>Extra Support<br/><a href="http://www.gamblingcommission.gov.uk" target="_blank">{{widget('image', 'gcmlogo', {'src': asset('images/gmc.png'),})|raw}}</a></h3>
                    <p>Is problem gambling affecting you, or those close to you?</p>
                    <p class="icon phone-icon">Freephone: 0808 8020 133</p>
                    <p>Please note that your payment has been processed via PayPal and will show as Sport Support on your statement.</p>
                </div>
                
                <div class="bk-zone column columns-four-second">
                    <h3>Legals</h3>
                    <p>
                        <a  href="/terms-and-conditions" target="_blank">Terms and conditions</a>
                    </p>
                   <p>
                        <a href="/social-responsibility" target="_blank">Social responsibility</a>
                    </p>
                    <p>
                        <a href="/privacy-policy" target="_blank">Privacy policy</a>
                    </p>
                    <p>
                        <a href="/acceptable-use-policy" target="_blank">Acceptable use policy</a>
                    </p>
                    <p>
                        <a href="/member-terms" target="_blank">Member terms</a>
                    </p> 
                    <p>
                        <a href="/game-rules" target="_blank">MCD game rules</a>
                    </p>
                </div>
                
                <div class="bk-zone column columns-four-third">
                    <h3>Important</h3>
                    <p>Verified by</p>
                    <a href="https://info.zaffo.com" target="_blank">{{widget('image', 'verified', {'src': asset('images/verified.png'),})|raw}}</a>
                    <p>Supporting you</p>
                    <a href="http://www.gambleaware.co.uk/" target="_blank">{{widget('image', 'gambleaware', {'src': asset('images/gamble-aware.png'),})|raw}}</a>
                    <p>Promoter</p>
                    <p>My Club Draw is promoted by SportSupport CIC, a not-for-profit registered Community Interest (Company No: 11251772) under a licence (000-052702-R-329827-001) issued by the Gambling Commission. The persons responsible are SportSupport CIC’s Directors: Tim Lamb, Pete Ackerley and Ian Arnold.</p>
                    <a href="https://info.zaffo.com" target="_blank">{{widget('image', 'poweredbyzaffo', {'src': asset('images/Powered_by_Zaffo.jpg'),})|raw}}</a>
                    
                </div>
                
                <div class="bk-zone column columns-four-fourth">
                    <h3>Third party</h3>
                    <p>Accepted cards</p>
                    <a href="https://info.zaffo.com" target="_blank">{{widget('image', 'poweredbyzaffo2', {'src': asset('images/cards2.png'),})|raw}}</a>                    
                </div>
                
            </div>
        </section>
    </div>
</div>
